apiVersion: v1
kind: Namespace
metadata:
  name: config-management-system
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: root-reconciler
  namespace: config-management-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: root-reconciler
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: ServiceAccount
  name: root-reconciler
  namespace: config-management-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: reconciler-manager
  namespace: config-management-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: reconciler-manager
  template:
    metadata:
      labels:
        app: reconciler-manager
    spec:
      serviceAccountName: root-reconciler
      containers:
      - name: reconciler-manager
        image: gcr.io/config-management-release/reconciler-manager:v1.17.2
        resources:
          requests:
            cpu: 100m
            memory: 200Mi
